
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #eeeeee;
    }
    #header {
        background-color: #065F46;
        color: white;
        padding: 10px;
        margin-bottom: 40px;
    }
    h1{
        padding-left: 33%;
    }
    img{
        float: left;
        width:70px;
        height:70px;
        background-color: transparent;
    }
    #container #closeBtn {
    float: right;
    cursor: pointer;
    color: #065F46;
    font-size: 24px; /* Adjust the size as needed */
    display: flex;
}
    #container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="button"],
    select {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    }
    #camera {
        display: none;
    }
    img#photo {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: none;
    }
    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1%;
        width: 100%;
        background-color: white;
    }
    .btn-container button {
        width: 48%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: white;
    }
    .btn-container button:hover {
        opacity: 0.8;
    }
    .btn-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      color: #065F46;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #065F46;
        color:white;
    }
    img {
        max-width: 100px;
        max-height: 100px;
    }